#chamadas{
	width:750px;
}

#chamadas div{
	float:left;
	margin: 0 0 0 100px;
	width:650px;
	display:inline; /*para evitar o bug de duplicação de margem do IE*/
	padding: 20px 0;
}

#chamadas div h4 {
	font: bold 120% 'Trebuchet Ms', Helvetica, Arial, Tahoma, Verdana, Sans-Serif;	
	color:rgb(0,107,176);
	text-transform:uppercase;
	text-align:left;
}

#chamadas div h5 {
	font: bold 100% 'Trebuchet Ms', Helvetica, Arial, Tahoma, Verdana, Sans-Serif;	
	color:#000;
	text-transform:uppercase;
	padding: 10px 0;
	text-align:left;
}


#chamadas div li {
	font: bold 100% 'Trebuchet Ms', Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
	color:#777;
	list-style: square inside;
	margin: 0 0 0 50px;
	text-align:left;
}

#destaque-principal {
	text-indent:-9000px; /*truque sujo para tirar o texto quando o browser é capaz de carregar a figura */
	width:750px;
	height: 261px;
	margin: 10px 0 10px 0;

}

#destaque-principal h2 a{
	float:left;
	width:750px;
	height: 260px;
	background:url(../images/servicos-box.jpg) no-repeat center center;
}
